# --- SENDER (Source Account) ---
# The ID of the Cloudflare Account (found in R2 Dashboard URL)
SENDER_ACCOUNT_ID=your_source_account_id
# The Bucket Name to copy FROM
SENDER_BUCKET_NAME=source-bucket-name
# Credentials
ACCESS_KEY_SENDER=your_source_access_key_id
SECRET_KEY_SENDER=your_source_secret_access_key

# --- RECEIVER (Destination Account) ---
# The ID of the Cloudflare Account
RECIVER_ACCOUNT_ID=your_destination_account_id
# The Bucket Name to copy TO
RECIVER_BUCKET_NAME=destination-bucket-name
# Credentials
ACCESS_KEY_RECIVER=your_destination_access_key_id
SECRET_KEY_RECIVER=your_destination_secret_access_key